/* /Layout/MainLayout.razor.rz.scp.css */
/* Header */
header[b-jfh76xakv4] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 1.25rem 0 1.25rem 0;
    padding: 0 0.25rem 0 0.25rem;
}

nav[b-jfh76xakv4] {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 1rem;
    font-weight: 400;
}

    nav > a:not(.button)[b-jfh76xakv4] {
        color: var(--white);
        text-decoration-line: none;
        transition: color 0.3s ease;
    }

    nav > a:is(.button)[b-jfh76xakv4] {
        color: var(--white);
        text-decoration-line: none;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    nav > a:hover:not(.button)[b-jfh76xakv4] {
        color: var(--gold);
    }

    nav > a:hover:is(.button)[b-jfh76xakv4] {
        background-color: var(--gold);
        color: var(--obsidian);
    }

.button[b-jfh76xakv4] {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    background-color: var(--ash);
    border-radius: 100px;
}

.logo[b-jfh76xakv4] {
    max-width: 125px;
}

.content[b-jfh76xakv4] {
    display: contents;
}

.break[b-jfh76xakv4] {
    display: none;
    font-size: 2rem;
}

    .break > p[b-jfh76xakv4] {
        text-align: center;
        padding: 5rem 1rem 5rem 1rem;
    }

/* Footer */

footer[b-jfh76xakv4] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    font-size: 14px;
    margin: 1rem 0 1rem 0;
}

.links[b-jfh76xakv4] {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .links > p[b-jfh76xakv4] {
        font-size: 20px;
        font-weight: 300;
        color: var(--ash);
    }
.links > a[b-jfh76xakv4] {
    color: var(--white);
    text-decoration-line: none;
    transition: color 0.3s ease;
}

    .links > a:hover[b-jfh76xakv4] {
        color: var(--gold);
    }

@media (max-width: 1250px) {

    .content[b-jfh76xakv4]{
        display:none;
    }

    .break[b-jfh76xakv4] {
        display: contents;
        width: 1150px;
    }

    .tagline[b-jfh76xakv4] {
        display: none;
    }

    footer[b-jfh76xakv4] {
        justify-content: center;
    }

    nav[b-jfh76xakv4] {
        display: none;
    }

    header[b-jfh76xakv4] {
        justify-content: center;
    }
}
/* /Pages/About.razor.rz.scp.css */
p[b-f6002bg4m5] {
    font-size: 2.5rem;
}

.wrapper[b-f6002bg4m5] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 528px;
}
/* /Pages/Humans.razor.rz.scp.css */
.ashy[b-7htd2o503o] {
    color: var(--ash);
    font-weight: 300;
}

.gold[b-7htd2o503o] {
    background-color: var(--gold) !important;
}

main[b-7htd2o503o] {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: stretch;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 1rem;
}

.grid[b-7htd2o503o] {
    position: relative;
    background-color: var(--white);
    border-radius: 10px;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    padding: 4rem 6rem 2.5rem 6rem;
}

.wrap[b-7htd2o503o] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.off-on[b-7htd2o503o] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--obsidian);
}
    
    .off-on > p > span[b-7htd2o503o] {
        color: var(--mint);
        font-weight: 600;
    }

.dots[b-7htd2o503o] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
}

    .dots > div[b-7htd2o503o] {
        display: flex;
        align-items: center;
    }

    .dots svg[b-7htd2o503o] {
        height: 260px;
        width: 15px;
    }


.dotRatio[b-7htd2o503o] {
    filter: brightness(0) saturate(100%) invert(78%) sepia(48%) saturate(437%) hue-rotate(81deg) brightness(89%) contrast(89%);
}

.info[b-7htd2o503o] {
    background-color: var(--white);
    color: var(--obsidian);
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info p strong[b-7htd2o503o] {
    color: var(--mint);
}

    .info p span[b-7htd2o503o] {
        color: var(--gold);
        font-weight: 600;
    }

.card[b-7htd2o503o] {
    background-color: var(--white);
    color: var(--obsidian);
    width: auto;
    height: 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
}

.label[b-7htd2o503o] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 0.5rem;
}

.number[b-7htd2o503o] {
    font-size: 3em;
    font-weight: 600;
    align-self: center;
}

/*  BEGIN OVERLAY WIDTHS */
.onebyone[b-7htd2o503o] {
    width: 285px;
}

.fourbythree[b-7htd2o503o] {
    width: 355px;
}

.threebytwo[b-7htd2o503o] {
    width: 425px;
}

.sxtnbynine[b-7htd2o503o] {
    width: 495px;
}

.twobyone[b-7htd2o503o] {
    width: 565px;
}

/* END OVERLAY WIDTHS */

.area[b-7htd2o503o] {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 255px;
    border: 5px solid var(--mint);
    background-color: rgba(101, 214, 139, 0.25);
    opacity: 0.5;
    overflow: hidden;
}

    .area[b-7htd2o503o]::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 100%;
        background: linear-gradient(0deg, rgba(101, 214, 139, 0) 0%, rgba(101, 214, 139, 0.4) 50%, rgba(101, 214, 139, 0) 100%);
        transform: translateX(-100%) translateY(50%) rotate(45deg);
        animation: glint-b-7htd2o503o 5s infinite;
    }

@keyframes glint-b-7htd2o503o {
    0% {
        transform: translateX(-75%) translateY(50%) rotate(45deg);
    }

    100% {
        transform: translateX(75%) translateY(50%) rotate(45deg);
    }
}
